numpy
pandas
matplotlib
seaborn
xlrd
openpyxl
scikit-learn
#scikit-lego
keras
tensorflow
git+https://github.com/Calysto/matlab_kernel
octave-kernel

#multiprocessing

anyio
appnope=
argon2-cffi
argon2-cffi-bindings
asttokens
async-generator
attrs
Babel
backcall
beautifulsoup4
bleach
blis
catalogue
certifi
cffi
charset-normalizer
click
cryptography
cycler
cymem
debugpy
decorator
defusedxml
#en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-#3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
entrypoints
executing
fastjsonschema
fonttools
h11
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
jedi
Jinja2
json5
jsonpickle
jsonschema
jupyter-client
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
kiwisolver
langcodes
MarkupSafe
matplotlib-inline
mistune
murmurhash
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook-shim
outcome
packaging
pandocfilters
parso
pathy
pexpect
pickleshare
Pillow
preshed
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
pydantic
Pygments
pyOpenSSL
pyparsing
pyrsistent
PySocks
python-dateutil
python-dotenv
python-louvain
pytz
pyvis
pyzmq
requests
scipy
selenium
Send2Trash
six
smart-open
sniffio
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
stack-data
terminado
thinc
tinycss2
tornado
tqdm
traitlets
trio
trio-websocket
typer
typing_extensions
urllib3
wasabi
wcwidth
webdriver-manager
webencodings
websocket-client
wsproto
zipp

